body {
   background-color: #cbe4de;
}

header h1 {
   font-size: 50px;
   text-align: center;
}

span {
   font-weight: bold;
   height: 50px;
}

h1 {
   font-size: 50px;
}

nav section a {
   color: #256D85;
   text-decoration: none;
}

div {
   text-align: center;
}

hr {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
}

#my-image {
   border-radius: 30px;
   height: 250px;
   width: 250px;
}

#image-div {
   width: 33%;
}

#my_intro {
   color: #002B5B;
   font-size: 25px;
   width: 33%;
}

#java-color {
   color: red;
}

#guava-color {
   color: #df816b;
}

.python-color {
   color: #0c6e0c;
}

#melon-color {
   color: #FF8FB1;
}

#my_quote {
   color: #2B4865;
   font-style: italic;
   font-size: 15px;
}

#initials {
   font-size: 150px;
   width: 33%;
}

#my-header {
   display: flex;
   min-width: 800px;
}