/* ELEMENT SELECTORS */
body {
   background-color: #cbe4de;
}

header h1 {
   font-size: 50px;
   text-align: center;
}

span {
   font-weight: bold;
   height: 50px;
}

h1 {
   font-size: 100px;
}

nav section a {
   color: #256D85;
   text-decoration: none;
}

div {
   text-align: center;
}

hr {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
}

/* CLASS SELECTORS */
.dark-blue {
   color: #2B4865;
}

.just-blue {
   color: #256D85;
}

.my-skills-column {
   /* background-color: #002B5B; */
   display: flex;
   margin-left: 40px;
}

.my-experience-columns {
   display: flex;
   margin-left: 500px;
   margin-right: 600px;
}

.my-hobbies-columns {
   display: flex;
   margin-left: 350px;
   margin-right: 400px;
}

.top-description {
   font-size: 35px
}

.knowledge {
   font-size: 30px;
}

.experience-role {
   font-family: 'Times New Roman', Times, serif;
   font-size: 22px;
   font-weight: bold;
}

.experience-other {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
}

.knowledge-percent {
   font-size: 45px;
}

.hobbies-subheading {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 22px;
   font-weight: bold; 
}

/* ID SELECTORS */

#my-image {
   border-radius: 30px;
   height: 250px;
   width: 250px;
}

#image-div {
   width: 33%;
}

#my_intro {
   color: #002B5B;
   font-size: 25px;
   width: 33%;
}

#my_quote {
   color: #2B4865;
   font-style: italic;
   font-size: 20px;
}

#initials {
   font-size: 150px;
   width: 33%;
}

#my-header {
   display: flex;
   min-width: 800px;
}

#python-div {
   /* background-color: #2a34ee; */
   color: black;
   height: 500px;
   width: 260px;
}

#java-div {
   /* background-color: rgb(190, 39, 39); */
   color: black;
   height: 500px;
   width: 260px;
}

#cSharp-div {
   /* background-color: #c72aee; */
   color: black;
   height: 500px;
   width: 260px;
}

#javascript-div {
   /* background-color: #d4a522; */
   color: black;
   height: 500px;
   width: 260px;

}

#sql-div {
   /* background-color: #0b1186; */
   color: black;
   height: 500px;
   width: 260px;

}

#css-div {
   /* background-color: #3997d5; */
   color: black;
   height: 500px;
   width: 260px;

}

#html-div {
   /* background-color: #ee782a; */
   color: black;
   height: 500px;
   width: 260px;
}

#aegis-div {
   /* background-color: #ee372a; */
   color: black;
   height: 500px;
   width: 260px;
}

#bbd-div {
   /* background-color: #930202; */
   color: black;
   height: 500px;
   width: 260px;
}

#wethinkcode-div {
   /* background-color: #024893; */
   color: black;
   height: 500px;
   width: 260px;
}

#watching-div {
   /* background-color: #024893; */
   color: black;
   height: 1400px;
   width: 400px;
}

#playing-div {
   /* background-color: #024893; */
   color: black;
   height: 1400px;
   width: 400px;
}

#reading-div {
   /* background-color: #024893; */
   color: black;
   height: 1400px;
   width: 400px;
}

#python-logo {
   display: inline-block;
   width: 200px;
}

#java-logo {
   border-radius: 10px;
   display: inline-block;
   width: 200px;
   height: 220px;
}

#csharp-logo {
   display: inline-block;
   width: 200px;
   height: 220px;
}

#javascript-logo {
   display: inline-block;
   height: 220px;
   width: 200px;
}

#sql-logo {
   display: inline-block;
   height: 220px;
   width: 200px;
}

#css-logo {
   display: inline-block;
   height: 220px;
   width: 200px;
}

#html-logo {
   border-radius: 10px;
   display: inline-block;
   height: 220px;
   width: 200px;
}

#aegis-logo {
   border-radius: 10px;
   display: inline-block;
   height: 220px;
   width: 200px;
}

#wethinkcode-logo {
   display: inline-block;
   height: 220px;
   width: 200px;
}

#bbd-logo {
   border-radius: 10px;
   display: inline-block;
   height: 220px;
   width: 200px;
}

#movies-image {
   border-radius: 10px;
   width: 200px;
}

#series-image {
   border-radius: 10px;
   width: 200px;
}

#anime-image {
   border-radius: 10px;
   width: 200px;
}

#mobile-games-image {
   border-radius: 10px;
   width: 300px   ;
   height: 250px;
}

#playstation-xbox-image{
   border-radius: 10px;
   width: 300px;
   height: 250px;
}

#pc-games-image {
   border-radius: 10px;
   width: 300px;
   height: 250px;
}

#board-games-image {
   border-radius: 10px;
   width: 300px;
   height: 250px;
}

#bible-image {
   border-radius: 10px;
   width: 250px;
   height: 250px;
}

#novels-image {
   border-radius: 10px;
   width: 250px;
   height: 250px;
}

#manga-image {
   border-radius: 10px;
   width: 250px;
   height: 250px;
}

.white-border {
   border: white solid 3px;
   border-radius: 10px;
}